

#Music_Container{
  position: relative;
  --Width: 100%;
  --Height: calc(var(--Width)/6);
  --Bottom_Margin: 5%;
  height: var(--Height);
  width: var(--Width);
  top: calc(100% - var(--Height) - var(--Bottom_Margin));
  left: calc(50% - var(--Width)/2);  
  overflow: hidden;
}
  
#Music_Snippet{
  position: relative;
  --Height: max(100%,5rem);
  --Width: max(100%,20rem);
  height: var(--Height);
  width: var(--Width);
  transform: scale(0.6);
  top: calc(50% - var(--Height)/2);
  left: calc(48.3% - var(--Width)/2);
  box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(0,0,0,0.2);
  filter: brightness(0.5);
}

#Drive_Container,#Cybertruck_Preview{
  position: absolute;
  --Height: 85%;
  --Width: 60%;
  height: var(--Height);
  width: var(--Width);
  top: calc(100% - var(--Height));
  left: calc(78% - var(--Width)/2);
}

#Drive_Container{
  background-image: url("../Assets/Road_Lines.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#Cybertruck_Preview{
  z-index: 1;
  background-image: url("../Assets/CYBERTRUCK.svg");
  background-size: 40%;
  background-position: 50% 26%;
  background-repeat: no-repeat;
}  

.Horizontal_Lines{
  position: absolute;
  height: 0.2vw;
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, rgba(255,255,255,0.05) 10%, rgba(255,255,255,0.05) 90%, rgba(196, 196, 196, 0) 100%);

}

.Horizontal_Line_1{
  top: 2%;
  --Width: 46%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_2{
  top: 7%;
  --Width: 50%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_3{
  top: 13%;
  --Width: 54%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_4{
  top: 20%;
  --Width: 59%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_5{
  top: 28%;
  --Width: 64%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_6{
  top: 37%;
  --Width: 70%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_7{
  top: 47%;
  --Width: 77%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_8{
  top: 58%;
  --Width: 85%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

.Horizontal_Line_9{
  top: 70%;
  --Width: 90%;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
}

:root{
  --Headlight_Width: 5vw;
}

.Headlights{
  position: absolute;
  top: 14%;
  height: calc(var(--Headlight_Width));
  width: var(--Headlight_Width);
  border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  filter: blur(2vw);
  opacity: 1;
}

.Headlights:nth-child(1){
  left: calc(50% - var(--Headlight_Width) - 6%);
}

.Headlights:nth-child(2){
  left: calc(50% + var(--Headlight_Width)/2 + 1%);
}

#Rectangle_Headlight,#Red_Spotlight{
  position: absolute;
  --Width: 14vw;
  height: 5vw;
  width: var(--Width);
  background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgba(255,255,255,0.5) 100%);
  top: 3%;
  left: calc(50% - var(--Width)/2);
  filter: blur(2vw);
}

#Red_Spotlight{
  top: 63%;
  --Width: 8vw;
  height: 1.2vw;
  width: var(--Width);
  left: calc(50% - var(--Width)/2);
  background-color: rgba(255,0,0,0.8);
  filter: blur(1.1vw);
  
}
