

#Dynamic_Panel{
  display: grid;
  grid-template-rows: repeat(3,1fr) 2fr repeat(3,1fr) 2fr;
  grid-template-columns: repeat(6,1fr);
}

#Dynamic_Panel > div{
  font-size: 0.1vw;  
  font-family: sans-serif;
  font-weight: lighter;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
 
.Tabs{
  background-size: 90%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  /* background-color: var(--Panel_Colour); */
  filter: opacity(0.5);
  z-index: 2;
}

.Tabs:nth-child(1){
  background-image: url("../Assets/CONTROLS.svg");
}

.Tabs:nth-child(2){
  background-image: url("../Assets/CHARGING.svg");
}

.Tabs:nth-child(3){
  background-image: url("../Assets/AUTOPILOT.svg");
}

.Tabs:nth-child(4){
  background-image: url("../Assets/SUSPENSION.svg");
}

.Tabs:nth-child(5){
  background-image: url("../Assets/DRIVING.svg");
}

.Tabs:nth-child(6){
  background-image: url("../Assets/ABOUT.svg");
}

.Selection_Indicator{
  position: relative;
  height: 0.2vw;
  width: 100%;
  background-color: white;
  top: 61%;
}

.Properties{
  background-repeat: no-repeat;
  background-size: 91%;
  background-position: 100% 50%;
  /* background-color: var(--Panel_Colour); */
}
  
.Brightness_Tab{
  grid-row: 2 / span 1; 
  grid-column: 1 / span 1;
  background-image: url("../Assets/BRIGHTNESS.svg");
}

.Lights_Tab{
  grid-row: 3 / span 1; 
  grid-column: 1 / span 1;
  background-image: url("../Assets/LIGHTS.svg");
}

#Spacer_1{
  grid-row: 4 / span 1; 
  grid-column: 1 / span 1;
  /* background-color: var(--Panel_Colour); */
}

.Weight_Tab{
  grid-row: 5 / span 1; 
  grid-column: 1 / span 1;
  background-image: url("../Assets/WEIGHT.svg");
}

.Volume_Tab{
  grid-row: 6 / span 1; 
  grid-column: 1 / span 1;
  background-image: url("../Assets/VOLUME.svg");
}

.Tonneau_Tab{
  grid-row: 7 / span 1; 
  grid-column: 1 / span 1;
  background-image: url("../Assets/TONNEAU.svg");
}

#Spacer_2{
  grid-row: 8 / span 1; 
  grid-column: 1 / span 1;
  /* background-color: var(--Panel_Colour); */
}

#Brightness_Container{
  grid-row: 2 / span 1;
  grid-column: 2 / span 5;
  /* background-color: var(--Panel_Colour); */
}

#Lights_Toggle_Container{
  grid-row: 3 / span 2;
  grid-column: 2 / span 5;
}

#Weight_Toggle_Container{
  grid-row: 5 / span 1;
  grid-column: 2 / span 5;
}

#Volume_Toggle_Container{
  grid-row: 6 / span 1;
  grid-column: 2 / span 5;
}

#Tonneau_Toggle_Container{
  grid-row: 7 / span 1;
  grid-column: 2 / span 5;
}

#Bottom_Indicators_Container{
  grid-row: 8 / span 1;
  grid-column: 2 / span 5;
}

#Brightness_Slider{
  -webkit-appearance: none;
  --Height: 4%;
  --Width: 78%;
  height: var(--Height);
  width: var(--Width);
  position: relative;
  top: 2%;
  left: calc(50% - var(--Width)/2);
  background-color: white;
}

#Brightness_Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.2vw;
  height: 0.2vw;
  background: #04AA6D;
  cursor: pointer;
}

#Lights_Toggle_Container{
  display: grid;
  grid-template-rows: 1fr 1.7fr;
  grid-template-columns: 1.5fr repeat(2,1fr) 1.5fr;
}

#Lights_Toggle_Container > div{
  /* background-color: var(--Panel_Colour); */
}

#Lights_Button_5{
  grid-column: 1 / span 2;
}

#Lights_Button_5 > div{
  --Width: 74.5%;
  --Margin: 4%;
  position: relative;
  height: 63%;
  width: var(--Width);
  top: 10%;
  left: calc(100% - var(--Width) - var(--Margin));
  border: 0.2vw solid white;
  /* background-color: var(--Panel_Colour); */
}

#Lights_Button_6{
  grid-column: 3 / span 2;
}

#Lights_Button_6 > div{
  --Width: 74.5%;
  --Margin: 4%;
  position: relative;
  height: 63%;
  width: var(--Width);
  top: 10%;
  left: calc(var(--Margin));
  border: 0.2vw solid white;
  /* background-color: var(--Panel_Colour); */
}

.Switch_Indicator_Rail{
  position: absolute;
  --Height: 0.38vw;
  --Width: 14%;
  top: calc(85.2% - var(--Height)/2);
  left: calc(15% - var(--Width)/2);
  height: var(--Height);
  width: var(--Width);
  background-color: 
  border-radius: 0.1vw;
  background-color: var(--Secondary_Gray);
}

.Square_Details{
  position: absolute;
  top: 80%;
  height: 0.4vw;
  width: 0.4vw;
  background-color: var(--Secondary_Gray);
}

.Square_1{
  left: 65.5%;
}

.Square_2{
  left: 75.5%;
}

.Square_3{
  left: 82%;
}

.Square_4{
  left: 92%;
}

.Switch_Indicator{
  position: absolute;
  --Height: 0.47vw;
  --Width: 8%;
  top: calc(85.2% - var(--Height)/2);
  left: calc(20% - var(--Width)/2);
  height: var(--Height);
  width: var(--Width);
  background-color: white;
  border-radius: 0.1vw;
}

.Status_Light{
  position: relative;
  top: 78%;
  height: 0.15vw;
  width: 6vw;
  background-color: white; 
  border-radius: 0.2rem;
}

.Status_Light_1{
  left: calc(100% - 6vw - 0.5vw);
}

.Status_Light_2,.Status_Light_3{
  left: calc(50% - 6vw/2);
}

.Status_Light_4{
  left: calc(0% + 0.5vw);
}

#Weight_Toggle_Container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.3fr 1fr 1.3fr;
}

#Weight_Toggle_Container > div{
 /* background-color: var(--Panel_Colour); */
}

.Weight_LEDs{
  position: relative;
  top: 64%;
  height: 0.15vw;
  width: 8.7vw;
  background-color: white; 
  border-radius: 0.2rem;
}

#Weight_LED_1{
  left: calc(100% - 8.7vw);  
}

#Weight_LED_2{
  left: calc(50% - 8.7vw/2);  
}

#Weight_LED_3{
  left: calc(0%);  
}

#Tonneau_Toggle_Container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.3fr 1fr 1.3fr;
  overflow: hidden; 
}

#Tonneau_Toggle_Container > div{
 /* background-color: var(--Panel_Colour); */
 overflow: hidden; 
}

.Tonneau_LEDs{
  position: relative;
  top: 64%;
  height: 0.15vw;
  width: 8.7vw;
  background-color: white; 
  border-radius: 0.2rem;
}

#Tonneau_LED_1{
  left: calc(100% - 8.7vw);  
}

#Tonneau_LED_2{
  left: calc(50% - 8.7vw/2);  
}

#Tonneau_LED_3{
  left: calc(0%);  
}

#Bottom_Indicators_Container{
  display: grid;
  grid-template-rows: 1fr; 
  grid-template-columns: 4.4fr 1fr 1fr 8.2fr;
}

#Bottom_Indicators_Container > div{
  overflow: hidden;
  /* background-color: var(--Panel_Colour);   */
}

.Bottom_LEDs{  
  position: relative;
  top: 40%;
  height: 0.15vw;
  width: 1.95vw;
  background-color: white; 
  left: calc(50% - 1.95vw/2);
}

.Lights_Buttons{
  background-repeat: no-repeat;
  filter: opacity(0.5);
}

#Lights_Button_1{
  background-image: url("../Assets/AUTO.svg");
  background-size: auto 6.9vw;
  background-position: 107% 61%;
}

#Lights_Button_2{
  background-image: url("../Assets/ON.svg");
  background-size: auto 6.9vw;
  background-position: 0% 61%;
}

#Lights_Button_3{
  background-image: url("../Assets/OFF.svg");
  background-size: auto 6.9vw;
  background-position: 0% 61%;
}

#Lights_Button_4{
  background-repeat: no-repeat;
  background-image: url("../Assets/BED.svg");
  background-size: auto 6.9vw;
  background-position: 12% 61%;
}

#Weight_Toggle_Container > div{
}

.Weight_Buttons{
  filter: opacity(0.5);
}


#Weight_Toggle_Container > div:nth-child(1){
  background-image: url("../Assets/LOW.svg");
  background-size: auto 6.9vw;
  background-position: 70% 85%;
  background-repeat: no-repeat;
}

#Weight_Toggle_Container > div:nth-child(2){
  background-image: url("../Assets/STANDARD.svg");
  background-size: auto 6.9vw;
  background-position: 20% 85%;
  background-repeat: no-repeat;
}

#Weight_Toggle_Container > div:nth-child(3){
  background-image: url("../Assets/HIGH.svg");
  background-size: auto 6.9vw;
  background-position: 0% 85%;
  background-repeat: no-repeat;
}

#Tonneau_Toggle_Container > div{
}

.Tonneau_Buttons{
  filter: opacity(0.5);
}


#Tonneau_Toggle_Container > div:nth-child(1){
  background-image: url("../Assets/DEPLOY.svg");
  background-size: auto 6.9vw;
  background-position: 70% 85%;
  background-repeat: no-repeat;
}

#Tonneau_Toggle_Container > div:nth-child(2){
  background-image: url("../Assets/RETRACT.svg");
  background-size: auto 6.9vw;
  background-position: 20% 85%;
  background-repeat: no-repeat;
}

#Tonneau_Toggle_Container > div:nth-child(3){
  background-image: url("../Assets/STOP.svg");
  background-size: auto 6.9vw;
  background-position: 0% 85%;
  background-repeat: no-repeat;
}

#Lights_Button_5 > div{
  background-image: url("../Assets/FOG.svg");
  background-size: auto 6.9vw;
  background-position: 10% -2.2vw;
  background-repeat: no-repeat;
}

#Lights_Button_6 > div{
  background-image: url("../Assets/OFF ROAD.svg");
  background-size: auto 6.9vw;
  background-position: 10% -2.2vw;
  background-repeat: no-repeat;
}

#Brightness_Container{
  display: grid;
  grid-template-rows: 1.3fr 1fr;
}

#Volume_Toggle_Container{
  display: grid;
  grid-template-rows: 1.3fr 1fr;
  /* background-color: var(--Panel_Colour); */
}

.Value_Indicators{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2vw;
  width: 2vw;
  top: calc(100% - 2vw);
  left: calc(50% - 2vw/2);
  font-size: 1vw;  
}

.Slider_Containers{
  position: relative;
  --Height: 0.2vw;
  --Width: 78%;
  height: var(--Height);
  width: var(--Width);
  top: calc(50% - var(--Height)/2);
  left: calc(50% - var(--Width)/2);
  background-color: var(--Secondary_Gray);
  border-radius: 0.2rem;
  background-image: linear-gradient(90deg, white 50%, rgba(0,0,0,0) 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s ease-out, transform 0.2s ease-out;
}

/* .Slider_Containers:hover{
  background-position: 0% 0%;
} */

.Slider_Container_1{
  background-position:  25% 0%;
}

.Slider_Container_2{
  background-position:  50% 0%;
}

#Bottom_LED_2{
  filter: opacity(0.5);
}

#Dynamic_Panel > div{
  z-index: 5;
}





