
@font-face{
  font-family: Orbitron_Medium;
  src: url('../Fonts/Orbitron/static/Orbitron-Medium.ttf');
}


@font-face{
  font-family: Orbitron_Regular;
  src: url('../Fonts/Orbitron/static/Orbitron-Regular.ttf');
}
