
#Unlock_Modal{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0);
  z-index: 5;
  opacity: 1;
}

.Unlock_It{
  animation: Unlock_Keyframes 1s forwards;
}

@keyframes Unlock_Keyframes {
  to{opacity: 0;}
}

#Slide_Cavity{
  -webkit-appearance: none;
  appearance: none;
  --Height: 2.7rem;
  --Width: 15rem;
  --Bottom_Spacer: 12rem;
  height: var(--Height);
  width: var(--Width);
  padding: 0.3rem;
  position: absolute;
  left: calc(50% - var(--Width)/2);
  top: calc(100% - var(--Height) - var(--Bottom_Spacer));
  border-radius: 0.5rem;
  background: var(--Secondary_Gray);
  outline: none;
  transition: 0.5s;
  box-shadow: inset 0.1rem 0.1rem 0rem 0rem rgba(0,0,0,0.2), inset -0.05rem -0.05rem 0.1rem 0.01rem rgba(255,255,255,0.3);
  /* background-image: linear-gradient(45deg, var(--Secondary_Gray) 25%, transparent 25%, transparent 75%, var(--Secondary_Gray) 75%, var(--Secondary_Gray)), linear-gradient(45deg, var(--Secondary_Gray) 25%, transparent 25%, transparent 75%, var(--Secondary_Gray) 75%, var(--Secondary_Gray)), linear-gradient(to bottom, rgb(110, 110, 110), rgb(110, 110, 110));
  --Carbon_Texture_Size: 2.5px;
  background-size: var(--Carbon_Texture_Size) var(--Carbon_Texture_Size), var(--Carbon_Texture_Size) var(--Carbon_Texture_Size), var(--Carbon_Texture_Size) calc(var(--Carbon_Texture_Size)/2);
  background-position: 0 0, calc(var(--Carbon_Texture_Size)/2) calc(var(--Carbon_Texture_Size)/2), 0 0; */
}

#Slide_Cavity::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  --Height: 2.7rem;
  --Width: 4rem;
  width: var(--Width);
  height: var(--Height);
  background-color: rgb(0,0,0);
  border-radius: 0.5rem;
  background-image: url("../Assets/Slider_Thumb.svg");
  background-size: 51%;
  background-position: 52% 50%;
  background-repeat: no-repeat;
  animation: 1s Pulsing_Keyframes infinite alternate;
  border: none;
}

#Slide_Cavity::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  --Height: 2.7rem;
  --Width: 4rem;
  width: var(--Width);
  height: var(--Height);
  background-color: rgb(0,0,0);
  border-radius: 0.5rem;
  background-image: url("../Assets/Slider_Thumb.svg");
  background-size: 51%;
  background-position: 52% 50%;
  background-repeat: no-repeat;
  border: none;
}
  

@keyframes Pulsing_Keyframes {
  from{filter: opacity(1);}
  to{filter: opacity(0.65);}
}













  
  
  