
html{
  height: 100vh;
  width: 100vw;
}

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#Unlock_Modal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: calc(50% - 50vw);
  background-color: rgb(0,0,0);
  z-index: 5;
  opacity: 0;
  opacity: 1;
}

@keyframes Fade_In{
  to{filter: blur(0)};
}

#Slide_Cavity_Background{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    width: 15rem;
    background-color: blue;
    -webkit-appearance: none;
    appearance: none;
    --Height: 2.7rem;
    --Width: 15rem;
    height: var(--Height);
    width: var(--Width);
    --Padding: 0.3rem;
    padding: var(--Padding);
    position: fixed;
    left: calc(50% - var(--Width)/2 + var(--Padding)/2);
    /* top: calc(100% - var(--Height) - var(--Bottom_Spacer) + var(--Padding)/2); */
    top: calc(100% + var(--Padding));
    border-radius: 0.5rem;
    box-sizing: content-box;
    background: var(--Secondary_Gray);
    outline: none;
    opacity: 0;
    transition: 0.3s;
}

#Slide_To_Unlock_Label{
  padding-right: 1rem;
  color: white;
}

#Slide_Cavity{
  -webkit-appearance: none;
  appearance: none;
  --Height: 2.7rem;
  --Width: 15rem;
  height: var(--Height);
  width: var(--Width);
  padding: 0.3rem;
  position: fixed;
  left: calc(50% - var(--Width)/2);
  top: calc(100% - var(--Height) - var(--Bottom_Spacer));
  border-radius: 0.5rem;
  background-color: transparent;
  outline: none;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.15s;
}

#Slide_Cavity::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  --Height: 2.7rem;
  --Width: 4rem;
  width: var(--Width);
  height: var(--Height);
  background-color: rgb(0,0,0);
  border-radius: 0.5rem;
  background-image: url("../Assets/Slider_Thumb.svg");
  background-size: 50%;
  background-position: 52% 50%;
  background-repeat: no-repeat;
  border: none;
  animation: Bouncing_Keyframes 1s alternate infinite ease;
}

#Slide_Cavity::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  --Height: 2.7rem;
  --Width: 4rem;
  width: var(--Width);
  height: var(--Height);
  background-color: rgb(0,0,0);
  border-radius: 0.5rem;
  background-image: url("../Assets/Slider_Thumb.svg");
  background-size: 51%;
  background-position: 52% 50%;
  background-repeat: no-repeat;
  border: none;
  animation: Bouncing_Keyframes 1s alternate infinite ease;
}

#CYBERTRUCK_KEYPAD{
  position: fixed;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  --Spacing: 2vw;
  grid-gap: var(--Spacing);
  --Margin: 7vw;
  --Width: min(calc(100vw - 2*var(--Margin)),65rem);
  --Height: calc((var(--Width) - 9*var(--Spacing) - 20*var(--Keys_Border_Thickness))/10);
  height: var(--Height);
  width: var(--Width);
  top: max(calc(50% - var(--Height)/2 - 1.2*var(--Bottom_Spacer)),5px);
  left: calc(50% - var(--Width)/2);
}

.Keyboard_Keys{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  color: rgba(225,225,225,0.3);
  background: rgba(225,225,225,0.3);
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
  transition: 0.2s;
  transition-property: transform opacity;
  filter: blur(20rem);
  animation-delay: 0.2s;
  animation: Fade_In 1s forwards;
}

.Keycap_Accents{
  display: flex;
  align-items: center;
  justify-content: center;
  --Size: 92%;
  height: var(--Size);
  width: var(--Size);
  color: rgba(225,225,225,0.3);
  background-color: black;
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.Prompt{
  display: flex;
  --Height: 2.7rem;
  --Width: 90vw;
  height: var(--Height);
  width: var(--Width);
  --Padding: 0.3rem;
  padding: var(--Padding);
  position: fixed;
  left: calc(50% - var(--Width)/2 - 0.3rem);
  top: calc(100% - var(--Height) - var(--Bottom_Spacer) + var(--Padding)/2);
  z-index: 2;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  filter: blur(20rem);
  animation-delay: 0.2s;
  animation: Fade_In 1s forwards;
}

.Prompt_Vanish{
  display: none;
}

.Unlock_It{
  animation: Unlock_Keyframes 1s forwards ease;
}

.Fade_In_Snap_Animation{
  animation: Fade_In_Snap_Keyframes 0.2s ease forwards;
}

@keyframes Unlock_Keyframes {
  to{opacity: 0;}
}

@keyframes Bouncing_Keyframes {
    0%{transform: scale(1);}
    50%{transform: scale(1);}
    100%{transform: scale(1.05);}
}
  

@keyframes Pulsing_Keyframes {
  0%{filter: opacity(1);}
  100%{filter: opacity(0.4);}
}

@keyframes Fade_In_Snap_Keyframes {
  to{opacity: 1;}
}

:root{
  --Bottom_Spacer: min(5rem,15vh);
  --Keys_Border_Thickness: 0.2vw;
}

.Show{
  opacity: 1;
}

.Fade_Down_0{
  transform: translateY(20vh);
  transition-delay: 0;
  opacity: 0;
}

.Fade_Down_1{
  transform: translateY(20vh);
  transition-delay: 0.05s;
  opacity: 0;
}

.Fade_Down_2{
  transform: translateY(20vh);
  transition-delay: 0.1s;
  opacity: 0;
}

.Fade_Down_3{
  transform: translateY(20vh);
  transition-delay: 0.15s;
  opacity: 0;
}

.Fade_Down_4{
  transform: translateY(20vh);
  transition-delay: 0.2s;
  opacity: 0;
}
  
.Fade_Down_5{
  transform: translateY(20vh);
  transition-delay: 0.25s;
  opacity: 0;
}  

.Fade_Down_6{
  transform: translateY(20vh);
  transition-delay: 0.3s;
  opacity: 0;
}
  
.Fade_Down_7{
  transform: translateY(20vh);
  transition-delay: 0.35s;
  opacity: 0;
}  
  
.Fade_Down_8{
  transform: translateY(20vh);
  transition-delay: 0.4s;
  opacity: 0;
}  
  
.Fade_Down_9{
  transform: translateY(20vh);
  transition-delay: 0.45s;
  opacity: 0;
}  
  
.Key_Toggled{
  background-color: rgba(255,255,255,0.9);
}
  

  
  